<%= stylesheet_link_tag('layout/home_layout') %>


<div class="container-home">
    <h1>ZG-Software BLOG</h1>
    <p>Fique por dentro das noticias, atualizações e dicas</p>


    <h2>
        <%= link_to "Feed de Postagens", posts_path%>
    </h2>
</div>
