/* 
main{
    display: flex;
    margin: 0 100px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */
.main-container{
    padding: 3rem 1.5rem;
    border-radius: 1.5rem;
    width: 50%;
    background-color: rgb(40, 40, 40);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    margin: 0px auto;
    margin-top: 70px;
}

.author{
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.author-name p{
    font-size: 15px;
}

.hr{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    align-self: stretch;
    width: 2px;
    height: 30px;
    background-color: rgb(126, 126, 126);
}

.img-container{
    overflow: hidden;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: 2px solid;
}
.img-container img{
    width: 40px;
}

.description p{
    font-family: sans-serif;
}

.content {
    text-align: center;
    padding: 20px;
  }

  .arrow-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    position: relative;
  }

  .arrow-divider::before {
    content: "";
    height: 2px;
    width: 100px;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    left: 0;
  }

  .arrow-divider::after {
    content: "";
    height: 2px;
    width: 100px;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    right: 0;
  }

  .arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #333;
    margin: 0 10px;
  }


  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .project-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .project-card h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .project-card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 15px;
  }

  .description-card{
    display: flex;
    flex-direction: column;
  }
  
  .description-card p {
    margin: 5px 0;
    color: #555;
  }
  .project-card h4{
    color: #000000;
  }
  
  .tech-icons{
    font-size: 30px;
  }
  .project-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background: #0073e6;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background 0.3s;
  }
  
  .project-link:hover {
    background: #005bb5;
  }