body{
    background-color: rgb(49 49 49);;

}


.container-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 80vh;
    margin-top: 65px;
    margin-right: 5px;
    background-color: rgb(24 24 24);
    border-radius: 10px;

}

.search-icon span{
    font-family: fantasy;
    color: rgb(235 235 235)
}
.search-icon{
    margin-bottom: 10px;
}
.search-container{
    margin-top: 25px;
}
.search-container input{
    border-radius: 20px;
    outline: none;
    border: none;
    width: 500px;
    height: 35px;
}

.container-mid{
    display: flex;
    overflow: scroll;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    margin-top: 40px;

}

.container-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 15px;
    margin-left: 15px;
    width: 400px;
    height: 500px;

}
.icons-profile{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    border-radius: 1rem;
    width: 100%;
    height: 400px;
    background-color: rgb(24 24 24);
    gap: 10px;
}
.profile h3{
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}

.profile p{
    text-align: center;
    font-size: 13px;
}

.profile-image{
    overflow: hidden;
    border: 2px solid rgb(61, 61, 61);
    border-radius: 10px;
    box-shadow: 6px 4px 2px 0px #72bada;
    margin-top: 15px;
}

.stack-icons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stack01, .stack02{
    display: flex;

}

.icons-contact{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    width: 100%;
    height: 400px;
    background-color: rgb(24 24 24);
}
.link-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    gap: 10px;
    height: 200px;
}
.link01, .link02, .link03, .link04{
    border: 2px solid gray;
    border-radius: 15px;
    width: 100px;
    box-shadow: 6px 4px 2px 0px #858585
}


.link01:hover, .link02:hover, .link03:hover, .link04:hover{
        box-shadow: 6px 4px 2px 0px #bcbcbc;
        border: 2px solid #bcbcbc;;
    }
li{
    list-style: none;
}
a{
    color: rgb(235 235 235);
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 0.5em;
}